.features {
  position: relative;
  text-align: center;
  background-color: #F2F2F2;
}

.features__wrapper {
    .container-fluid();
  padding-top: 76px;
  // padding-left: 20px;
  // padding-right: 20px;
  padding-bottom: 289px;
}

.feautures__image-list {
  .list-unstyled();
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  margin-left: -78px;
  bottom: -42px;
}

.features__image-item {
  width: 157px;
  height: 320px;
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  &:nth-child(n+2) {
    .hidden();
  }
}

.features__list {
  .list-unstyled();
}

.features__item {
  padding-bottom: 16px;
  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  b {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

@media @tablet-widths { 
  .features__wrapper {
    padding-top: 5px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding-bottom: 0px;
    display: flex;
    // justify-content: center;
  }
  .feautures__image-list {
    position: static;
    margin-left: 0;
  }
  .features__image-item {
    width: 268px;
    height: 481px;
    background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat;
  }
  .features__list {
    text-align: left;
    padding-left: 40px;
    padding-top: 66px;
  }
  .features__item {
  p {
    font-size: 14px;
    line-height: 24px;
  }
  b {
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
  }
}
}
