.main-nav {
  position: relative;
  padding-top: 325px;
}

.main-nav__bar {
  .clearfix();
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__logo {
  float: left;

  img {
    width: 75px;
    height: 22px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 18px;
  float: right;
  font-size: 0;
  line-height: 0;
  z-index: 1;
  button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 50px;
    height: 24px;
    background-image: url(../img/icon-menu-cross.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }
}

.main-nav--closed {
  padding-top: 0;
  .main-nav__bar {
    display: block;
  }
  .main-nav__list {
    display: none;
  }
  .main-nav__toggle {
    button {
      background-image: url(../img/icon-menu-burger.svg);
    }
  }
}

.main-nav--nojs {
  padding-top: 325px;
  .main-nav__list {
    display: block;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__bar {
    display: none;
  }
}

.main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .list-unstyled();
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #283645;
  z-index: 0;

  img {
    width: 75px;
    height: 22px;
  }
}

.main-nav__item {
  text-align: center;
  padding: 18px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.main-nav__item:first-child {
  border-top: none;
  padding-left: 20px;
  text-align: left;
}
