@media @mobile-widths-only {
  .promo__text {
    .visually-hidden();
  }
}

@media @tablet-widths {
  .promo {
    // position: relative;
    min-height: 729px;
    background: url(../img/iphone-hand-tablet@1x.png) no-repeat center bottom;
  }
  .promo__text {
    width: 186px;
    padding-top: 204px;
    padding-left: 56px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
}
