.reviews {
  // .container-fluid();
  position: relative;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 1;
}

.reviews__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 72px;
}

.reviews__list {
  .list-unstyled();
}

.reviews__item {
p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 30px;
}

b{
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

  &:nth-child(n+2) {
    .visually-hidden();
  }
}

@media @tablet-widths {
  .reviews__wrapper {
    .container-fluid();
    padding-left: 0;
    padding-right: 0;
    padding-top: 96px;
  }
  .reviews__item {
    display: flex;
    flex-direction: column;
    b {
      order: 2;
      font-size: 20px;
      line-height: 26px;
      color: black;
    }
    span {
      order: 3;
      font-size: 14px;
      line-height: 18px;
      padding-top: 12px;
    }
    p {
      margin: 0;
      margin-bottom: 36px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media @mobile-widths-only {
  .reviews__item {
    span {
      .visually-hidden();
    }
  }
}