.slogan {
  // padding-left: 20px;
  // padding-right: 20px;
  background-color: #FFFFFF;
  text-align: center;
  p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.slogan__wrapper {
  .container-fluid();
  padding-top: 18px;
  padding-bottom: 7px;
}

@media @tablet-widths {
  .slogan__wrapper {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .slogan {
    // padding-left: 40px;
    // padding-right: 40px;
    p {
      font-size: 40px;
      line-height: 48px;
      margin: 0
    }
  }
}
